In [1]:
import pandas as pd

In [2]:
d=pd.read_csv("d:\cancer.txt")
print(d)

          id  clump_thickness  unif_cell_size  unif_cell_shape  marg_adhesion  \
0    1002945                5               4                4              5
1    1015425                3               1                1              1
2    1016277                6               8                8              1
3    1017023                4               1                1              3
4    1017122                8              10               10              8
5    1018099                1               1                1              1
6    1018561                2               1                2              1
7    1033078                2               1                1              1
8    1033078                4               2                1              1
9    1035283                1               1                1              1
10   1036172                2               1                1              1
11   1041801                5               3                3              3
12   1043999                1               1                1              1
13   1044572                8               7                5             10
14   1047630                7               4                6              4
15   1048672                4               1                1              1
16   1049815                4               1                1              1
17   1050670               10               7                7              6
18   1050718                6               1                1              1
19   1054590                7               3                2             10
20   1054593               10               5                5              3
21   1056784                3               1                1              1
22   1057013                8               4                5              1
23   1059552                1               1                1              1
24   1065726                5               2                3              4
25   1066373                3               2                1              1
26   1066979                5               1                1              1
27   1067444                2               1                1              1
28   1070935                1               1                3              1
29   1070935                3               1                1              1
..       ...              ...             ...              ...            ...
668  1350423                5              10               10              8
669  1352848                3              10                7              8
670  1353092                3               2                1              2
671  1354840                2               1                1              1
672  1354840                5               3                2              1
673  1355260                1               1                1              1
674  1365075                4               1                4              1
675  1365328                1               1                2              1
676  1368267                5               1                1              1
677  1368273                1               1                1              1
678  1368882                2               1                1              1
679  1369821               10              10               10             10
680  1371026                5              10               10             10
681  1371920                5               1                1              1
682   466906                1               1                1              1
683   466906                1               1                1              1
684   534555                1               1                1              1
685   536708                1               1                1              1
686   566346                3               1                1              1
687   603148                4               1                1              1
688   654546                1               1                1              1
689   654546                1               1                1              3
690   695091                5              10               10              5
691   714039                3               1                1              1
692   763235                3               1                1              1
693   776715                3               1                1              1
694   841769                2               1                1              1
695   888820                5              10               10              3
696   897471                4               8                6              4
697   897471                4               8                8              5

     single_epith_cell_size bare_nuclei  bland_chrom  norm_nucleoli  mitoses  \
0                         7          10            3              2        1
1                         2           2            3              1        1
2                         3           4            3              7        1
3                         2           1            3              1        1
4                         7          10            9              7        1
5                         2          10            3              1        1
6                         2           1            3              1        1
7                         2           1            1              1        5
8                         2           1            2              1        1
9                         1           1            3              1        1
10                        2           1            2              1        1
11                        2           3            4              4        1
12                        2           3            3              1        1
13                        7           9            5              5        4
14                        6           1            4              3        1
15                        2           1            2              1        1
16                        2           1            3              1        1
17                        4          10            4              1        2
18                        2           1            3              1        1
19                        5          10            5              4        4
20                        6           7            7             10        1
21                        2           1            2              1        1
22                        2           ?            7              3        1
23                        2           1            3              1        1
24                        2           7            3              6        1
25                        1           1            2              1        1
26                        2           1            2              1        1
27                        2           1            2              1        1
28                        2           1            1              1        1
29                        1           1            2              1        1
..                      ...         ...          ...            ...      ...
668                       5           5            7             10        1
669                       5           8            7              4        1
670                       2           1            3              1        1
671                       2           1            3              1        1
672                       3           1            1              1        1
673                       2           1            2              1        1
674                       2           1            1              1        1
675                       2           1            2              1        1
676                       2           1            1              1        1
677                       2           1            1              1        1
678                       2           1            1              1        1
679                       5          10           10             10        7
680                       4          10            5              6        3
681                       2           1            3              2        1
682                       2           1            1              1        1
683                       2           1            1              1        1
684                       2           1            1              1        1
685                       2           1            1              1        1
686                       2           1            2              3        1
687                       2           1            1              1        1
688                       2           1            1              1        8
689                       2           1            1              1        1
690                       4           5            4              4        1
691                       2           1            1              1        1
692                       2           1            2              1        2
693                       3           2            1              1        1
694                       2           1            1              1        1
695                       7           3            8             10        2
696                       3           4           10              6        1
697                       4           5           10              4        1

    ...    5   1  1.1  1.2   2  1.3   3  1.4  1.5  2.1
0   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
1   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
2   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
3   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
4   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
5   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
6   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
7   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
8   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
9   ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
10  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
11  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
12  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
13  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
14  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
15  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
16  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
17  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
18  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
19  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
20  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
21  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
22  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
23  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
24  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
25  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
26  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
27  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
28  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
29  ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
..  ...   ..  ..  ...  ...  ..  ...  ..  ...  ...  ...
668 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
669 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
670 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
671 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
672 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
673 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
674 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
675 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
676 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
677 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
678 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
679 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
680 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
681 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
682 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
683 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
684 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
685 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
686 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
687 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
688 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
689 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
690 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
691 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
692 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
693 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
694 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
695 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
696 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN
697 ...  NaN NaN  NaN  NaN NaN  NaN NaN  NaN  NaN  NaN

[698 rows x 22 columns]

In [3]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 22 columns):
id                        698 non-null int64
clump_thickness           698 non-null int64
unif_cell_size            698 non-null int64
unif_cell_shape           698 non-null int64
marg_adhesion             698 non-null int64
single_epith_cell_size    698 non-null int64
bare_nuclei               698 non-null object
bland_chrom               698 non-null int64
norm_nucleoli             698 non-null int64
mitoses                   698 non-null int64
class                     698 non-null int64
1000025                   0 non-null float64
5                         0 non-null float64
1                         0 non-null float64
1.1                       0 non-null float64
1.2                       0 non-null float64
2                         0 non-null float64
1.3                       0 non-null float64
3                         0 non-null float64
1.4                       0 non-null float64
1.5                       0 non-null float64
2.1                       0 non-null float64
dtypes: float64(11), int64(10), object(1)
memory usage: 117.3+ KB

In [4]:
d.replace('?',-999999,inplace=True)

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 22 columns):
id                        698 non-null int64
clump_thickness           698 non-null int64
unif_cell_size            698 non-null int64
unif_cell_shape           698 non-null int64
marg_adhesion             698 non-null int64
single_epith_cell_size    698 non-null int64
bare_nuclei               698 non-null object
bland_chrom               698 non-null int64
norm_nucleoli             698 non-null int64
mitoses                   698 non-null int64
class                     698 non-null int64
1000025                   0 non-null float64
5                         0 non-null float64
1                         0 non-null float64
1.1                       0 non-null float64
1.2                       0 non-null float64
2                         0 non-null float64
1.3                       0 non-null float64
3                         0 non-null float64
1.4                       0 non-null float64
1.5                       0 non-null float64
2.1                       0 non-null float64
dtypes: float64(11), int64(10), object(1)
memory usage: 117.3+ KB

In [6]:
d.dropna(1,inplace=True)

In [7]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 11 columns):
id                        698 non-null int64
clump_thickness           698 non-null int64
unif_cell_size            698 non-null int64
unif_cell_shape           698 non-null int64
marg_adhesion             698 non-null int64
single_epith_cell_size    698 non-null int64
bare_nuclei               698 non-null object
bland_chrom               698 non-null int64
norm_nucleoli             698 non-null int64
mitoses                   698 non-null int64
class                     698 non-null int64
dtypes: int64(10), object(1)
memory usage: 57.3+ KB

In [8]:
print(d)

          id  clump_thickness  unif_cell_size  unif_cell_shape  marg_adhesion  \
0    1002945                5               4                4              5
1    1015425                3               1                1              1
2    1016277                6               8                8              1
3    1017023                4               1                1              3
4    1017122                8              10               10              8
5    1018099                1               1                1              1
6    1018561                2               1                2              1
7    1033078                2               1                1              1
8    1033078                4               2                1              1
9    1035283                1               1                1              1
10   1036172                2               1                1              1
11   1041801                5               3                3              3
12   1043999                1               1                1              1
13   1044572                8               7                5             10
14   1047630                7               4                6              4
15   1048672                4               1                1              1
16   1049815                4               1                1              1
17   1050670               10               7                7              6
18   1050718                6               1                1              1
19   1054590                7               3                2             10
20   1054593               10               5                5              3
21   1056784                3               1                1              1
22   1057013                8               4                5              1
23   1059552                1               1                1              1
24   1065726                5               2                3              4
25   1066373                3               2                1              1
26   1066979                5               1                1              1
27   1067444                2               1                1              1
28   1070935                1               1                3              1
29   1070935                3               1                1              1
..       ...              ...             ...              ...            ...
668  1350423                5              10               10              8
669  1352848                3              10                7              8
670  1353092                3               2                1              2
671  1354840                2               1                1              1
672  1354840                5               3                2              1
673  1355260                1               1                1              1
674  1365075                4               1                4              1
675  1365328                1               1                2              1
676  1368267                5               1                1              1
677  1368273                1               1                1              1
678  1368882                2               1                1              1
679  1369821               10              10               10             10
680  1371026                5              10               10             10
681  1371920                5               1                1              1
682   466906                1               1                1              1
683   466906                1               1                1              1
684   534555                1               1                1              1
685   536708                1               1                1              1
686   566346                3               1                1              1
687   603148                4               1                1              1
688   654546                1               1                1              1
689   654546                1               1                1              3
690   695091                5              10               10              5
691   714039                3               1                1              1
692   763235                3               1                1              1
693   776715                3               1                1              1
694   841769                2               1                1              1
695   888820                5              10               10              3
696   897471                4               8                6              4
697   897471                4               8                8              5

     single_epith_cell_size bare_nuclei  bland_chrom  norm_nucleoli  mitoses  \
0                         7          10            3              2        1
1                         2           2            3              1        1
2                         3           4            3              7        1
3                         2           1            3              1        1
4                         7          10            9              7        1
5                         2          10            3              1        1
6                         2           1            3              1        1
7                         2           1            1              1        5
8                         2           1            2              1        1
9                         1           1            3              1        1
10                        2           1            2              1        1
11                        2           3            4              4        1
12                        2           3            3              1        1
13                        7           9            5              5        4
14                        6           1            4              3        1
15                        2           1            2              1        1
16                        2           1            3              1        1
17                        4          10            4              1        2
18                        2           1            3              1        1
19                        5          10            5              4        4
20                        6           7            7             10        1
21                        2           1            2              1        1
22                        2     -999999            7              3        1
23                        2           1            3              1        1
24                        2           7            3              6        1
25                        1           1            2              1        1
26                        2           1            2              1        1
27                        2           1            2              1        1
28                        2           1            1              1        1
29                        1           1            2              1        1
..                      ...         ...          ...            ...      ...
668                       5           5            7             10        1
669                       5           8            7              4        1
670                       2           1            3              1        1
671                       2           1            3              1        1
672                       3           1            1              1        1
673                       2           1            2              1        1
674                       2           1            1              1        1
675                       2           1            2              1        1
676                       2           1            1              1        1
677                       2           1            1              1        1
678                       2           1            1              1        1
679                       5          10           10             10        7
680                       4          10            5              6        3
681                       2           1            3              2        1
682                       2           1            1              1        1
683                       2           1            1              1        1
684                       2           1            1              1        1
685                       2           1            1              1        1
686                       2           1            2              3        1
687                       2           1            1              1        1
688                       2           1            1              1        8
689                       2           1            1              1        1
690                       4           5            4              4        1
691                       2           1            1              1        1
692                       2           1            2              1        2
693                       3           2            1              1        1
694                       2           1            1              1        1
695                       7           3            8             10        2
696                       3           4           10              6        1
697                       4           5           10              4        1

     class
0        2
1        2
2        2
3        2
4        4
5        2
6        2
7        2
8        2
9        2
10       2
11       4
12       2
13       4
14       4
15       2
16       2
17       4
18       2
19       4
20       4
21       2
22       4
23       2
24       4
25       2
26       2
27       2
28       2
29       2
..     ...
668      4
669      4
670      2
671      2
672      2
673      2
674      2
675      2
676      2
677      2
678      2
679      4
680      4
681      2
682      2
683      2
684      2
685      2
686      2
687      2
688      2
689      2
690      4
691      2
692      2
693      2
694      2
695      4
696      4
697      4

[698 rows x 11 columns]

In [9]:
d.drop(['id'],1,inplace=True)

In [10]:
import numpy as np

In [11]:
x=np.array(d.drop(['class'],1))
y=np.array(d['class'])

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [16]:
from sklearn import neighbors

In [19]:
mdl=neighbors.KNeighborsClassifier()

In [20]:
mdl.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [21]:
acc=mdl.score(x_test,y_test)

In [22]:
print(acc)

0.9785714285714285

In [24]:
val=[[4,2,1,1,1,2,3,2,1]]
pred=mdl.predict(val)
print(pred)

[2]